* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  font-family: -apple-system, -apple-system, 
  BlinkMacSystemFont, 'Segoe UI', Roboto,  
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif;
}

:root {
  --bg-main: #151515;
}

body {
  background-color: var(--bg-main);
}

main {
  padding: 0 100px;
  min-height: 100vh;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.w-100 {
  text-align: left;
  width: 100%;
  margin-top: 2rem;

}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.logo {
  flex-grow: 1;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 5px;
}

.search-bar {
  flex-grow: 10;
  border-radius: 50px;
  background-color: hsla(0,0%,100%,.16);
  padding: 0 1rem 0 2.5rem;
  transition: background-color .3s ease;
  position: relative;
}

.search-bar-lens {
  position: absolute;
  left: 15px;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 1rem;
  fill: hsla(0,0%,100%,.6);
}

.search-bar.focused, .search-bar:hover  {
  background-color: hsla(0,0%,100%,.30);
}

.search-bar input {
  all: unset;
  color: hsla(0,0%,100%,.6);
  padding: .9rem 0;
  width: 100%;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar input::placeholder {
  color: hsla(0,0%,100%,.6);
  font-family: Arial, Helvetica, sans-serif;
}

.search-bar-shortcut {
  position: absolute;
  right: 20px;
  color: hsla(0,0%,100%,.3);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

.search-bar-shortcut span {
  border: 1px solid hsla(0,0%,100%,.3);
  color: hsla(0,0%,100%,.3);
  padding: 2px 5px;
  border-radius: 2px;
}

.api-link {
  flex-grow: 0.3;
  text-align: right;
  font-weight: 500;
  padding-bottom: 5px;
  transition: color .3s ease;
}

.api-link:hover {
  color: hsla(0,0%,100%,.6);
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* PAGE SIDEBAR */
.sidebar {
  width: 15%;
  display: inline-block;
  padding-top: 2rem;
}

.sidebar-menu {
  list-style-type: none;
  max-height: 320px;
  overflow: hidden;
  transition: all .3s ease;
}

.sidebar-menu-wrapper {
  position: relative;
  padding-bottom: 10px;
}

.platforms.open {
  max-height: none;
}

.show-more {
  position: absolute;
  top: 100%;
  left: 0;
}

.show-more .game-card-platform{
  background-image: none;
}


.show-more svg {
  transform: translateY(1px) rotate(90deg);
  width: 8px;
  padding: 7px;
}

.sidebar-menu a {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  transition: color .3s ease;
}

.sidebar-menu li {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
}

.sidebar-menu a:hover {
  color: hsla(0,0%,100%,.6);
}

/* PAGE CONTENT */
.content {
  width: 100%;
  display: inline-block;
}

.page-title {
    font-size: 72px;
    line-height: 74px;
    font-weight: 700;
    margin-bottom: .6rem;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.game-card {
  border-radius: 12px;
  background-color: #202020;
  transition: transform .4s ease;
  position: relative;
}

.game-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

.game-card-image {
  height: 200px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  overflow: hidden;
}

.game-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card-content {
  padding: 1rem;
  position: relative;
}

.game-card-content h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.game-card-content h3 a {
  transition: color .3s ease;
}

.game-card-content h3 a:hover {
  color: hsla(0,0%,100%,.6);
}

.game-card-content .rating {
  font-size: 15px;
  border-radius: 5px;
  background-color: hsla(0,0%,100%,.1);
  padding: 5px 10px;
  display: inline-flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.game-card-content .rating img {
  width: 12px;
  fill: white;
}

.game-card-platform {
  width: 17px;
  height: 13px;
  margin-right: 5px;
  background-image: url('./../public/joystick-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: initial;
  display: inline-block;
}

.game-card-platform.pc {
  background-image: url('../public/pc.svg');
}

.game-card-platform.xbox {
  background-image: url('../public/xbox.svg');
}

.game-card-platform.play {
  background-image: url('../public/play.svg');
}

.game-card-platform.linux {
  background-image: url('../public/linux.svg');
}

.game-card-platform.nintendo {
  background-image: url('../public/nintendo.svg');
}

.game-card-platform.mac {
  background-image: url('../public/mac.svg');
}

.game-card-platform.android {
  background-image: url('../public/android.svg');
}

.game-card-platform.ios {
  background-image: url('../public/ios.svg');
}

.metacritic {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 2px 0;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  border: 1px solid;
  min-width: 32px;
}

.metacritic-wrapper {
  height: 50px;
  display: flex;
  align-items: center;
}

.metacritic.single-page {
  position: static;
  margin: 5px 0;
  padding: 3px 7px;
}

.metacritic.green {
  color: #6dc849;
  border-color: rgba(109,200,73,.4);
}

.metacritic.red {
  border-color: red;
  color: red;
}

.game-card-content-hidden {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  margin: auto;
  transition: all .3s ease;
  opacity: 0;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #202020;
  padding: 0 1rem 1rem 1rem;
}

.game-card:hover .game-card-content-hidden {
  opacity: 1;
}

.game-card-content-hidden > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0,0%,100%,.04);
  padding: 10px 0;
  margin-top: 10px;
}

.game-card-content-hidden h4 {
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.4);
  font-weight: 400;
}

.game-card-content-hidden span {
  font-size: 12px;
}

.game-card-content-hidden a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: hsla(0,0%,100%,.04);
  padding: 10px 16px 10px 10px;
  margin-top: 1rem;
  font-size: 13px;
}

.game-card-content-hidden a img{
  width: 12px;
  transform: rotateZ(-90deg);
  opacity: .6;
}
/* FILTERS */
.filters select {
  background-color: hsla(0,0%,100%,.07);
  padding: 10px 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 8px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('./../public/arrow.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 175px center;
  width: 200px;
}

.filters option {
  background-color: hsla(0,0%,100%,.07);
  padding: 10px 1rem;
  border: none;
  color: black;
}


/* FOOTER */
.footer {
  text-align: center;
  padding: 2rem 0;
  font-weight: 500;
  margin-top: 50px;
}

.footer a {
  text-decoration: underline;
  transition: color .3s ease;
}

.footer a:hover {
  color: hsla(0,0%,100%,.6);
}

.platform-menu-item .game-card-platform, .platform-menu-item .platform-menu__link {
  font-size: 16px;
  font-weight: 400;
}

.platform-menu-item .game-card-platform {
  border-radius: 6px;
  background-color: hsla(0,0%,100%,.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-size: 60% 60%;
  background-position: center;
}

.platform-menu__link {
  display: flex !important;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.platform-menu-item .game-card-platform {
  transition: all .3s ease;
}

.platform-menu-item:hover .game-card-platform {
  background-color: hsla(0, 0%, 100%, 0.4);
}

/* SEARCH PAGE */
.search-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid hsla(0,0%,100%,.2);
}

.search-results span {
  color: hsla(0,0%,100%,.3);
  font-size: 18px;
}

.search-result-term {
  position: relative;
  padding-left: 3rem;
}

.search-result-count {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: flex-end
}

.skip-search {
  all: unset;
  background-image: url('../public/skip-search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: hsla(0,0%,100%,.1);
  cursor: pointer;
  transition: all .3s ease;
}

.skip-search:hover {
  opacity: .8;
}

.lds-dual-ring {
  margin: 1rem 0;
}

/* GAME PAGE */
.content.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}

.content.padding {
  padding: 0 8%;
}

.game-page-content {
  flex-basis: 60%;
}

.game-page-media {
  flex-basis: 40%;
  overflow: hidden;
  padding-top: 50px;
}

.game-page-media-gallery {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 200px));
  grid-template-rows: repeat(4, 95px);
  grid-gap: 1rem;
}

.game-page-media-gallery .game-page-gallery:first-of-type{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.game-page-gallery {
  overflow: hidden;
  border-radius: 7px;
}

.game-page-media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
  border-radius: 7px;
}

.game-page-gallery:hover img {
  cursor: pointer;
  transform: scale(1.05);
}

.game-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  gap: 1rem;
}

.game-header .game-card-platform{
  width: 20px;
  height: 20px;
  margin-top: 4px
}

.game-page-date {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  padding: 2px 7.5px;
  color: #000;
  border-radius: 4px;
  background-color: #fff;
}

.add-game {
  background-color: white;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  display: inline-table;
  padding: 10px 3rem 10px 1rem;
  font-size: 12px;
  line-height: 14px;
  margin: 2rem 0;
  transition: all .3s ease;
  background-image: url('./../public/add-button.svg');
  background-repeat: no-repeat;
  background-position: 105% center;
  background-size: 35px;
}

.add-game span {
  font-size: 18px;
  letter-spacing: 0;
  color: black;
  padding: 5px 5px 0 0;
}

.add-game:hover {
  background-color: rgba(255, 255, 255, 0.699);
}

.game-ratings {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.game-ratings .ratings {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  position: relative;
}

.game-ratings .ratings .point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-right: 5px;
}

.game-ratings .ratings span {
  font-weight: normal;
  margin-left: 5px;
  color: hsla(0,0%,100%,.4)
}

.recommended .point {
  background-image: linear-gradient(0deg,#4354b9,#649bff);
}

.exceptional .point {
  background-image: linear-gradient(180deg,#b4ec51,#429321);
}

.meh .point {
  background-image: linear-gradient(180deg,#fad961,#f76b1c);
}

.skip .point {
  background-image: linear-gradient(180deg,#ff5764,#f11a2a);
}

.game-page-about {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.game-page-desc {
  font-size: 16px;
  line-height: 22px;
}

.game-page-platforms {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.game-page-stores {
  margin-top: 2rem;
}

.game-page-stores h4{
  color: hsla(0,0%,100%,.5);
  font-weight: 400;
  font-size: 18px;
}

.game-page-store {
  display: flex;
  align-items: center;
  color: hsla(0,0%,100%,.5);
  border-radius: 6px;
  background-color: hsla(0,0%,100%,.1);
  transition: all .3s ease;
  margin-top: 1rem;
  padding: 10px 1rem;
}

.game-page-store:hover {
  background-color: white;
  color: black;
}

.game-page-stores-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start;
  align-items: center;

}

.game-page-table {
  margin-top: 2rem;
  width: 100%;
}

.game-page-table th{
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: hsla(0,0%,100%,.2);
  text-align: left;
}

.game-page-table td p{
    font-size: 16px;
    line-height: 1.5;
}

.game-page-table a{
  text-decoration: underline;
}

.game-page-table th {
  width: 50%;
}

.game-page-table td{
  width: 50%;
  text-align: left;
  vertical-align: top;
  padding-right: 10px;
}

.game-page-table tr{
  padding-bottom: 2rem;
}

.empty-row {
  height: 1rem;
}

.buttonHam, .offcanvas {
  display: none;
}

.offcanvas-close {
  display: none;
}

/* BREADCRUMBS */
.breadcrumbs {
  margin-bottom: 2rem;
}

.breadcrumbs ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  list-style: none;
  flex-wrap: wrap;
}

.breadcrumbs li, .breadcrumbs li a{
  letter-spacing: 1.7px;
  color: hsla(0,0%,100%,.4);
  text-transform: uppercase;
  transition: all .3s;
  font-size: 10px;
}

.breadcrumbs a:hover {
  color: white;
}

/* LOGIN */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 2rem;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.login input {
  height: 50px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background: rgba(0,0,0,.3);
  color: #fff;
  font-size: 18px;
}

.login input[type="submit"] {
  background: white;
  color: #000;
  cursor: pointer;
  transition: all .3s ease;
}

.login input[type="submit"]:hover {
  background: #ccc;
}

.login a {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: underline;
}

.login h3 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

@media(max-width: 1540px) {
  main {
    padding: 0 3rem;
  }

  .content.flex {
    flex-direction: column;
  }

  .game-page-media {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .buttonHam {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 2rem;
  }

  .api-link {
    display: none;
  }

  .sidebar-offcanvas-login {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  .sidebar-offcanvas-login .api-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #151515;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    transition: all .3s ease;
  }

  .sidebar-offcanvas-login .api-link:hover {
    background-color: #1515159d;
  }

  .api-link.login-icon {
    background-image: url('./../public/login.svg');
  }

  .api-link.signup-icon {
    background-image: url('./../public/signup.svg');
  }

  .sidebar-offcanvas-login li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
  }

  .sidebar-offcanvas-login li span {
    font-size: 12px;
    opacity: .4;
    color: white;
    text-align: left;
  }

  .profile-aside {
    margin: 1rem 0;
  }

  .offcanvas {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0%;
    top: 0;
    transition: all .3s ease;
    display: block;
    z-index: 10;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: -1;
  }

  .offcanvas-container {
    width: 30%;
    height: 100%;
    background-color: rgba(59,59,59,255);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    position: absolute;
    top: 0;
    left: 110%;
    padding: 2rem 2rem 50px 2rem;
    overflow-y: scroll;
  }

  .offcanvas .sidebar {
    display: block;
    width: 100%;
    padding-top: 3rem;
  }

  .offcanvas .sidebar nav {
    padding-top: 1rem;
  }

  .offcanvas.opened  .offcanvas-container{
    left: 70%;
  }

  .offcanvas.opened {
    opacity: 1;
    z-index: 10;
  }

  .offcanvas-close {
    all: unset;
    position: absolute;
    top: 2rem;
    right: 1.9rem;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-image: url(./../public/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }

  .offcanvas-close svg{
    width: 100%;
    height: 100%;
  }
}

@media(max-width: 1224px) {
  main {
    padding: 0 2rem;
  }

  .content.flex {
    flex-direction: column;
  }

  .content.padding {
    padding: 0;

  }

  .game-card-content-hidden {
    opacity: 1;
    position: static;
    padding: 0;
  }

  .search-bar-shortcut {
    display: none;
  }

  .profile .page-title {
    font-size: 40px;
  }
}

@media(max-width: 768px) {
  main {
    padding: 0 2rem;
  }

  .header {
    gap: 1rem;
    padding: 1.5rem 0;
  }
  
  .w-100 {
    margin-top: 1rem;
  }

  .content-wrapper {
    flex-direction: column;
    margin-top: 1rem;
  }

  .content, .sidebar {
    width: 100%;
    padding-top: 0;
  }

  .page-title {
    font-size: 50px;
    line-height: 60px;
  }

  .search-results span {
    font-size: 13px;
  }

  .search-results {
    margin-bottom: .5rem;
  }

  .offcanvas.opened {
    width: 100%;
    left: 0;
  }

  .offcanvas.opened .offcanvas-container{
    width: 100%;
    left: 0;
    border-radius: 0;
  }

  .offcanvas-close {
    right: .5rem;
    top: 1.5rem;
  }

  .buttonHam {
    margin-left: 0;
  }

  .game-page-media {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }

  .offcanvas {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .profile .page-title {
    font-size: 20px;
    line-height: 1.5;
  }
}


/* SPINNER */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.buttonMore {
  z-index: 10;
}